.modal-container {
    padding: 20px;
    background: #eee;
    height: 320px;
    width: 320px;
    margin: 4rem auto;
    z-index: 1;
    opacity: 0.9;
    position: fixed;

    .modal-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
}